<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-on 实例</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-on 实例</h1>
    <hr/>
    <div id="app">
        本场比赛得分：{{score}}
        <br/>
        <button v-on:click="addScore">加分</button>
        <button @click="decreaseScore">减分</button>
        <br/>
        <input type="text" v-on:keyup.enter="addAnyScore" v-model="score2"/>
        <input type="text" v-on:keyup.13="addAnyScore" v-model="score2"/>
    </div>

    <script>
        var app=new Vue({
            el:"#app",
            data:{
                score:0,
                score2:1
            },
            methods:{
                addScore:function(){
                    this.score++;
                },
                decreaseScore:function(){
                    this.score--;
                },
                addAnyScore:function(){
                    this.score=this.score+parseInt(this.score2);
                }
            }
        })
    </script>
</body>
</html>